<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link href="../../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../../../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../../../bower_components/bootstrap-social/bootstrap-social.css" rel="stylesheet">
    <!--<link href="../../bower_components/materialize/dist/css/materialize.min.css" rel="stylesheet" media="screen,projection">-->
    <link href="../../../css/myStyle.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Project Home Page</title>
</head>

<body>
<div class="container-fluid">
    <form>
        <div class="form-group">
            <h1>Login</h1>
            
            <!--<div ng-show="model.error"-->
                 <!--class="alert alert-danger"-->
                 <!--role="alert">-->
                <!--{{model.error}}-->
            <!--</div>-->
            
            <input type="text"
                   ng-model="user.username"
                   class="form-control"
                   placeholder="username"/>
            <input type="password"
                   ng-model="user.password"
                   class="form-control"
                   placeholder="password"/>
    
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Remember me
                </label>
            </div>
            
            <a class="btn btn-facebook btn-block"
               ng-click="model.login(user)">Login</a>
            
            <a class="btn btn-danger btn-block"
               href="homepage.html">Cancel</a>
            
            <a class="btn btn-success btn-block"
               href="#/register">Register</a>
            
            <div>
                <a ng-click="">forgot your username or password?</a>
            </div>
            
        </div>
    </form>
</div>

</body>


<script src="../../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../../../bower_components/jquery-ui/jquery-ui.min.js"></script>
<!--<script src="../../js/init.js"></script>-->
<script src="../../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!--<script src="../../bower_components/materialize/dist/js/materialize.js"></script>-->
<script src="../../../bower_components/angular/angular.min.js"></script>


</html>