<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a class="navbar-link" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}">
                <span class="glyphicon glyphicon-chevron-left"></span></a>
        </div>
        <div class="navbar-text pull-right">
            <a class="navbar-link" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                <span class="glyphicon glyphicon-plus"></span></a>
        </div>
        
        <div class="navbar-header">
            <span class="navbar-brand" href="#">Widgets</span>
        </div>
    </div>
</nav>

<div class="container-fluid"
     ng-include="model.getEditorTemplateUrl(model.widget.widgetType)">
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <span class="glyphicon glyphicon-play"></span>
            <span class="glyphicon glyphicon-eye-open"></span>
        </div>
        <div class="navbar-text pull-right">
            <a href="../views/user/profile.view.client.html" class="glyphicon glyphicon-user"></a>
        </div>
    </div>
</nav>

